.digit {
	color: #fff88a;
	font-size: 800%;
	padding: 1.5rem;
	text-shadow: 0 0 5px #fc792c, 0 0 10px #fc792c, 0 0 20px #fc792c,  0 0 30px #fc792c, -1px 0 #fc9403, 0 1px #fc9403, 1px 0 #fc9403, 0 -1px #fc9403;
}

.digit.dot-mini {
	font-size: 100%;
}
.digit.dot-small {
	font-size: 200%;
}
.digit.dot-medium {
	font-size: 300%;
}
.digit.dot-large {
	font-size: 400%;
}

.digit_display {
	display: flex;
	align-items: flex-end;
	justify-content: center;
}

.reflect {
	-webkit-box-reflect: below 0px linear-gradient(to bottom, rgba(0,0,0,0.1), rgba(0,0,0,0.7));
}

.tube-mini {
	width: 40px;
}

.tube-small {
	width: 80px;
}

.tube-medium, {
	width: 120px;
}

.tube-large {
	width: 160px;	
}
